<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VSL-200 inscription!{% endblock %}</title>
        <meta charset="UTF-8">

        {# Responsive meta tag #}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Olinom - Market place"/>

        {% block indexing %}
            <meta name="robots" content="noindex, nofollow" />
            <meta name="googlebot" content="noindex, nofollow" />
            <meta name="bingbot" content="noindex, nofollow" />
        {% endblock %}

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <!-- Navbar -->
                <nav class="mt-2 navbar navbar-expand-lg navbar-light bg-light desktop">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">VSL-200</a>
                        <div class="d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    {% if app.user %}
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">{{ app.user.username }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{{ path('app_logout') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="{{ path('app_user_new') }}">S'inscrire</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <nav class="mt-2 navbar navbar-expand-lg navbar-light bg-light mobile">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">VSL-200</a>
                        <div class="d-lg-flex d-md-flex justify-content-lg-end justify-content-md-end">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    {% if app.user %}
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">{{ app.user.username }}</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="{{ path('app_logout') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="{{ path('app_user_new') }}">S'inscrire</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
